<html ng-app="shadow">
<head>
  <title>Shadow Calculator</title>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css">
  <link rel="stylesheet" href="styles/style.css">

</head>

<body>


<!-- <h1>Shadow Calculator</h1> -->

<div ng-controller="ShadowController">

<form class="form-inline">
<input type="text" class="form-control datepicker" ng-model="selectedDate" ng-change="getDate()"name="date" data-autoclose="1" data-date-format="yyyy-MM-dd" bs-datepicker>
</form>

<h1>{{ sliderValue | date: 'h:mma' | lowercase }}</h1>

<slider class="time-slider" ng-model="sliderValue" 
  min="timeRange.min" 
  step="timeRange.step" 
  max="timeRange.max" 
  value="timeRange.value"
  on-slide="getShadowLength(value, $event)"
  tooltip="hide"
  >
</slider>


<h2>{{ shadowLength | number:1 }}x </h2>

<img src="assets/Human_outline.svg" class="person" /> 
<img src="assets/Human_outline.svg" class="shadow" 
style="transform: rotate(0deg) scaleY( {{shadowLength}}) skewX(0deg)" /> 
<shadow-chart>
 
<!-- <div ng-repeat="times in data">
  {{ times.time | date: 'hh:mma' | lowercase }}
  <span style="display:inline-block; width:{{ times.shadow * 50 }}; height: 1em; background-color: #999">{{ times.shadow | number: 2 }}x</span>
</div>

 -->

</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/d3/d3.min.js"></script>

<script src="bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>



<script src="app/services/slider.js"></script>

<script src="app/app.js"></script>
</body>

</html>
