<html ng-app="shadow">
<head>
  <title>Shadow Calculator</title>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css">
  <link rel="stylesheet" href="styles/style.css">
  <link href='//fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400' rel='stylesheet' type='text/css'>
</head>

<body>


<span class="header">Shadow Calculator</span>

<div ng-controller="ShadowController">

<div class="datepicker">
  <form class="">
  <input type="text" class="form-control" ng-model="selectedDate" ng-change="getDate()" name="date" data-autoclose="1" data-date-format="yyyy-MM-dd" bs-datepicker>
  </form>
</div>

<div class="time"><span>{{ sliderValue | date: 'h:mma' | lowercase }}</span></div>

<div class="geo">Location: {{ coords.lat | number: 2 }} {{ coords.long | number: 2 }} <a href="#">change location</a></div>

<div class="results">
  <span class="azimuth">Azimuth: {{ azimuth | number: 0 }}</span>
  <span class="altitude">Altitude: {{ altitude | number: 0 }}</span>
</div>

<slider class="time-slider" ng-model="sliderValue" 
  min="timeRange.min" 
  step="timeRange.step" 
  max="timeRange.max" 
  value="timeRange.value"
  on-slide="getShadowLength(value, $event)"
  tooltip="hide"
  >
</slider>



<div class="shadow-length">
  <span>Shadow Multiplier:</span><br /><span class="length">{{ shadowLength | number:2 }}x</span>
</div>

<img src="assets/Human_outline.svg" class="person" /> 
<img src="assets/Human_outline.svg" class="shadow" 
style="transform: rotate(0deg) scaleY( {{shadowLength}}) skewX(0deg)" /> 

<shadow-chart>
 
<!-- <div ng-repeat="times in data">
  {{ times.time | date: 'hh:mma' | lowercase }}
  <span style="display:inline-block; width:{{ times.shadow * 50 }}; height: 1em; background-color: #999">{{ times.shadow | number: 2 }}x</span>
</div>

 -->

</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/d3/d3.min.js"></script>

<script src="bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
<script src="bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>


<script src="app/services/slider.js"></script>

<script src="app/app.js"></script>
</body>

</html>
